@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Bebas+Neue&family=Griffy&family=Lato&family=Montserrat:wght@100&family=Poppins&family=Roboto+Slab&display=swap');


* {
    margin: 0;
    padding: 0;
 }

 div.card-title{
    margin-bottom: 2rem;
 }

.site-button{
    padding: .8rem 1.5rem;
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 15px;
}

.box{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
margin-left: 3rem;
margin-right: 3rem;
}

/* .card-img-top{
    background-color: transparent;
} */


.scroll{
    margin-top: 1rem;
}

div.card-body{
    min-height: 20rem;
    max-height: 25rem;
    padding-bottom: 2rem;
}

p.card-text{
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    height: 8rem;
}

div.card-title{
    height: 3rem;
}


@media screen and (min-width: 320px) and (max-width:380px){
    .scroll{
        width: 75%;
    }  
    
    div.card-body{
        min-height: 30rem;
        max-height: 30rem;
    }

    p.card-text{
        height: 16rem;
    }

    div.card-title{
        height: 4rem;
    }
}


@media screen and (min-width: 381px) and (max-width: 480px){
    .scroll{
        width: 80%;
    }  
    
    div.card-body{
        min-height: 28rem;
        max-height: 28rem;
    }

    p.card-text{
        height: 14rem;
    }

    div.card-title{
        height: 4rem;
    }

}

@media screen and (min-width: 576px) and (max-width:767px){
    div.card-body{
        min-height: 20rem;
        max-height: 20rem;
    }

    p.card-text{
        height: 7rem;
    }
}

@media screen and (min-width: 768px) and (max-width:991px){
    div.card-body{
        min-height: 25rem;
        max-height: 30rem;
        padding-bottom: 1rem;
    }

    p.card-text{
        height: 10rem;
    }

    div.card-title{
        height: 3rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1150px){
    div.card-body{
        min-height: 38rem;
        max-height: 38rem;
    }  

    p.card-text{
        height: 23rem;
    }
    div.card-title{
        height: 5.5rem;
    }
}

@media screen and (min-width: 1151px) and (max-width: 1279px){
    div.card-body{
        min-height: 30rem;
        max-height: 30rem;
    }  

    p.card-text{
        height: 17rem;
    }

    div.card-title{
        height: 3.5rem;
    }
}

@media screen and (min-width: 1280px) and (max-width:1360px){
    div.card-body{
        min-height: 28rem;
        max-height: 28rem;
    }  
    
    p.card-text{
        height: 15rem;
    }

    div.card-title{
        height: 3.5rem;
    }
}

@media screen and (min-width: 1361px) and (max-width:1600px){
    div.card-body{
        min-height: 25rem;
        max-height: 28rem;
    }  

    p.card-text{
        height: 12rem;
    }

    div.card-title{
        height: 3.5rem;
    }
}